.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.running {
  background-color: #2ecc71;
}

.not-running {
  background-color: #cc0505;
}

.status {
  margin-bottom: 20px;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
            opacity: 0.5; /* Firefox */
}

.no-underline {
  text-decoration: none;
}

    .table-scroll-container {
        max-height: 300px; /* Set a maximum height for the scrollable area */
        overflow-y: auto;  /* Enable vertical scrolling when content exceeds max-height */
    }